.backGround {
    height: 100vh;
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/background.png);
    overflow-y: hidden;
}

.centered-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
}

.blockButton {
    display: block;
    z-index: 10
}

.nonePage {
    display: none;
}

.title {
    position: absolute;
    top:45%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-family: 'Arial', sans-serif;
    font-size: 5em;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 4px #000;
    word-wrap: break-word;

}

.ask {
    font-family: 'Arial', sans-serif;
    font-size: 5em;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 4px #000;
    word-wrap: break-word;
}

.container {
    margin: 0;
}

.answer {
    width: 45vw;
    height: 45vw;
    border-radius: 5rem;
    background: rgba(255, 0, 0, 0.5);
    margin: 1rem;
    font-family: 'Arial', sans-serif;
    font-size: 5em;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 4px #000;
    word-wrap: break-word;
}




#startButton {
    position: fixed;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    background: none;
    border: none;
    background-color: transparent;
}